[Unit]
Description=Zephyrus clipboard history (%i)
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=HYPRLAND_INSTANCE_SIGNATURE

[Service]
ExecStart=/usr/bin/wl-paste --type %i --watch /usr/bin/cliphist --max-items 200 store
Restart=on-failure
RestartSec=3
Slice=background.slice

[Install]
WantedBy=graphical-session.target
